.container
  .col-md-6.details
    .logo
      = image_tag 'logo.png'
    %h2.tagline Subscribe <br/> and be notified.
    .download
      = link_to '#', class: 'ios' do
        %span
          Download on the
          %strong APP STORE
      = link_to '#', class: 'android' do
        %span
          Get it on
          %strong GOOGLE PLAY
  .col-md-6
